<h1><%= @article.title %></h1>

<p><%= @article.text %></p>


<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<% if user_signed_in? %> 
<%= render 'comments/form' %>
<% end %>
